@import url(https://fonts.googleapis.com/css?family=VT323);

/* General */
* {
  box-sizing: border-box;
}

body {
  background: black;
}
/* Game layout */
#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-grid {
  position: relative;
  display: inline-grid;
  background: black;
  border-bottom: 6px inset rgba(119, 118, 118, 0.5);
  border-left: 6px inset rgba(161, 158, 158, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  grid-template-columns: repeat(28, 20px);
  grid-template-rows: repeat(30, 20px);
}

#score-board {
  font-family: 'VT323', monospace;
  background: black;
  border-bottom: 6px inset rgba(119, 118, 118, 0.5);
  border-left: 6px inset rgba(161, 158, 158, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  color: #a4bd33;
  cursor: pointer;
  font-size: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 15rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-button {
  font-family: 'VT323', monospace;
  background: #881400;
  border-bottom: 6px inset rgba(119, 118, 118, 0.5);
  border-left: 6px inset rgba(161, 158, 158, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 15rem;
  height: 4rem;

  box-sizing: border-box;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}

#start-button:hover {
  background: #a81000;
}

/* for hiding the start button during the game */
.hide {
  visibility: hidden;
}

.game-status {
  font-family: 'VT323', monospace;
  border-bottom: 6px inset rgba(119, 118, 118, 0.5);
  border-left: 6px inset rgba(161, 158, 158, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  color: white;
  cursor: pointer;
  font-size: 2rem;
  /*Change width and height to rem */
  width: 100%;
  height: 50px;
  display: flex;
  position: absolute;
  top: 40vh;
  left: 0;
  align-items: center;
  justify-content: center;
  background: black;
}

/* Game squares */
.square {
  display: block;
}

.blank {
  background: black;
}

.wall {
  background-color: #f5ba9c;
  border: 1px solid #b76133;
}

.dot {
  background: white;
  border: 8px solid black;
  border-radius: 50%;
}

.power-pellet {
  background: white;
  border: 5px solid black;
  border-radius: 50%;
}

/* Characters */

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 1px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 3px;
  background: black;
  border-radius: 50%;
  right: 4px;
  top: 5px;
  border: 2px solid white;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}
.scared {
  background: blue;
}

.pac-man {
  background: yellow;
  border: none;
  border-radius: 50%;
  clip-path: polygon(
    0 0,
    20px 0,
    20px -5px,
    8px 10px,
    20px 25px,
    20px 20px,
    0 20px
  );
  animation: chew 0.2s linear forwards infinite;
}
/* pac-man animation */
@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      20px 0,
      20px 10px,
      8px 10px,
      20px 10px,
      20px 20px,
      0 20px
    );
  }
}
