@import url(https://fonts.googleapis.com/css?family=VT323);
body {
  background-color: black;
  cursor: pointer;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-board {
  border-bottom: 6px inset rgba(119, 118, 118, 0.5);
  border-left: 6px inset rgba(161, 158, 158, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  background-color: black;
  width: 75vmin;
  height: 75vmin;
  display: grid;
  grid-template-rows: repeat(28, 1fr);
  grid-template-columns: repeat(28, 1fr);
}

#score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vmin;
  height: 5vmin;
  border-bottom: 6px inset rgba(119, 118, 118, 0.5);
  border-left: 6px inset rgba(161, 158, 158, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  background: black;
  margin-bottom: 20px;
  color: #a4bd33;
  font-family: 'VT323', monospace;
  font-size: 2rem;
}

.btn {
  font-family: 'VT323', monospace;
  background: #881400;
  border-bottom: 6px inset rgba(119, 118, 118, 0.5);
  border-left: 6px inset rgba(161, 158, 158, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;
}

.btn:hover {
  background: #a81000;
}

.pac-dot {
  background-color: green;
  border: 7px solid black;
  border-radius: 50%;
}

.wall {
  background-color: #f5ba9c;
}

.power-pill {
  background: white;
  border: 5px solid black;
  border-radius: 50%;
}
